body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
	font-family: 'BSoftie';
	src: url(./fonts//BigSoftie-Fat.eot);
	src: local('☺'), url(./fonts/BigSoftie-Fat.woff) format('woff'), url(./fonts/bigsoftie-fat-webfont.ttf) format('truetype'), url(./fonts//BigSoftie-Fat.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}
